%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = password_field_with_toggle name: :password, form_name: resource_name, label: 'Nueva contraseña (déjala vacía si no quieres cambiarla)', required: false, input_attrs: { autocomplete: 'new-password' }
    = password_field_with_toggle name: :password_confirmation, form_name: resource_name, label: 'Confirmar nueva contraseña', required: false, input_attrs: { autocomplete: 'new-password' }
    = password_field_with_toggle name: :current_password, form_name: resource_name, label: 'Contraseña actual (para confirmar los cambios)', input_attrs: { autocomplete: 'current-password' }
  .form-actions
    = f.button :submit, "Update"
%h3 Cancel my account
.d-flex.align-items-center
  %div Unhappy?
  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link"
= link_to "Back", :back
