- name          = local_assigns.fetch(:name)
- form_name     = local_assigns.fetch(:form_name, 'user')
- label         = local_assigns.fetch(:label, 'Contraseña')
- required      = local_assigns.fetch(:required, true)
- size          = local_assigns[:size]
- wrapper_class = local_assigns.fetch(:wrapper_class, 'mb-3')
- input_attrs   = local_assigns.fetch(:input_attrs, {})
- input_id      = local_assigns.fetch(:input_id, "#{form_name}_#{name}")
- group_classes = size ? "input-group input-group-#{size}" : "input-group"
- merged_attrs  = { id: input_id, type: :password, name: "#{form_name}[#{name}]", required: required }.merge(input_attrs)
- merged_attrs[:data] = (input_attrs[:data] || {}).merge(password_toggle_target: 'input')

%div{class: wrapper_class, data: { controller: 'password-toggle' }}
  %label.form-label{for: input_id}= label
  %div{class: group_classes}
    %span.input-group-text.bg-light.rounded-start.border-0.text-secondary.px-3
      %i.fas.fa-lock
    %input.form-control.border-0.bg-light.ps-1{ merged_attrs }
    %button.input-group-text.bg-light.rounded-end.border-0.text-secondary.px-3{type: 'button', tabindex: '-1', 'aria-label': 'Mostrar u ocultar contraseña', data: { action: 'click->password-toggle#toggle' }}
      %i.fas.fa-eye{data: { password_toggle_target: 'icon' }}
