= hidden_field_tag 'total_credits', totalCreditsReserved
= hidden_field_tag 'total_subjects', totalSubjectsReserved
- tableColor = (totalCreditsReserved > limitCredits or totalSubjectsReserved > limitSubjects) ? 'table-danger' : 'table-success'

.table-responsive
  %table.table.table-sm.mb-0
    %tbody
      %tr{class: tableColor}
        %td.text-end Total Créditos Seleccionados:
        %td
          %b#totalNumberOfCredits= totalCreditsReserved
          = "de #{limitCredits} permitidos."
      %tr{class: tableColor}
        %td.text-end Total Asignaturas Seleccionadas:
        %td
          %b#totalNumberOfSubjects= totalSubjectsReserved
          = "de #{limitSubjects} permitidas."
